@import './colors.css';

* {
  color: @font;
  font-weight: bold;
}

window#waybar {
  background: @background;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  /* opacity: 0.9; */
}

#pulseaudio,
#custom-sunset,
#custom-hyprshot,
#clock,
#bluetooth {
  margin: 10px 10px;
}

#custom-notification {
  margin-left: 10px;
  margin-right: 25px;
}

#bluetooth.connected {
  color: blueviolet;
}